/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: grey;
	line-height: 1.5;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

ol li {
	list-style-position: inside;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
	color: blue;
}